.modal {
  position: absolute;
  display: none;
  max-width: 600px;
  min-height: 50px;
  background-color: white;
  top: 15%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 2rem;

}

.modal.active {
  display: block;
}
