.navWrapper {
  width: 100%;
  background-color: #005d90;
}

.nav {
  display: flex;
  align-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.nav a {
  color: white;
}

.titleAndSearch {
  flex: 1;
  display: flex;
  overflow-y: visible;
  max-height: 70px;
}
.titleAndSearch h3 {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
  height: 70px;
  box-sizing: border-box;
}

.mobile {
  display: none;
}

.buttons {
  display: flex;
}
.buttons > div {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 0.5rem;
}
.buttons svg {
  cursor: pointer;
}
.buttons svg:hover, .menu svg:hover {
  color: #999;
}

.menu {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  color: white;
}
.menuItems {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.2);
}
.menuItems a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 7rem;
  width: 100vw;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color);
  border-bottom: 2px solid gray;
  background-color: var(--card-bg-color);
  z-index: 102;
}
.menuItems a:hover {
  color: var(--link-hover-color);
}

.backgroundClick{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
}

@media screen and (max-width: 600px){

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .menu {
    display: flex;
  }
  .menuItems.showMenu {
    display: block;
  }

}
